<%- include("partials/header.ejs") %>

<h1 id="title-about">Simona Calota</h1>
<img class="profile" src="images/profile.jpeg" alt="Picture Profile">


 <h3> Started as an Artist, ended up with a passion for <b>Web Development</b> </h3> <br> <br>

 <p class="about-profile">
  Digital Art was the first step I took towards my passion. Since I was little, I loved drawing and painting. When I grew up, I started saving up for a drawing tablet because I found it fascinating to convert my traditional paintings into digital art.
  Firstly, I started with <b> Krita and CorelDraw</b>. Then I found out about vector graphics, and so I started learning <b> Illustrator</b>. I already knew how <b> Photoshop</b> works, so that helped me in my journey.  <br>
  <br> Web Design was next. I liked creating vector graphics, but I wanted to do something on a bigger scale. So I tried <b> Figma </b> and I loved it. 
  But why should I stop here? Why shouldn't I implement what I learned into a real product? So, I learned <b>Front End Development</b>. Followed by <b> Back-end Development</b>, I realized this is the path I want to take career-wise. <br>
  <br> Artificial Intelligence became really popular, so I wanted to give it a go. Of course, because I was passionate about art, I wanted to see how AI creates artistic images. I started with <b>MidJourney</b> which generates beautiful images, but I wanted something more personalized. <b>Stable Diffusion</b> came into the picture. <br>
 </p>

 <h3> Why are so many skills listed here? </h3> <br> 
 
 <p class="about-profile"> Well, the world is ever-changing and you have to improve your skills set to be good at what you do. I'm looking for a career in Web Development, but because of my knowledge of how these other tools work, I better understand how all the puzzle pieces fit together.
  A web developer works alongside Graphic, Web and Digital Designers to create beautiful websites. If I know, for example, what goes in creating a logo, designing a landing page or how functionality impacts the user experience, I'm improving my knowledge on the necessary steps I have to take to make the best product possible.
</p>

  
  <%- include("partials/footer.ejs") %>