<%- include("partials/header.ejs") %>


  

  <h1>Welcome to my Portofolio Page!</h1> <br>

  <div id="homepage">
  <p>See the services I can offer      
    <button class="btn btn-primary" onClick="window.location.href='/services'">Services ➜</button>
  </p>  <br>

  <p>Learn who I am
    <button class="btn btn-primary" onClick="window.location.href='/about'">About ➜</button>
  </p> <br>

  <p>Let's Talk
    <button class="btn btn-primary" onClick="window.location.href='/contact'">Contact ➜</button>
  </p> 

</div>
  

  <%- include("partials/footer.ejs") %>